{% extends "tasker_app/base.html" %}


{% block content %}
{% if active_page == 'index' %}
<div class="d-grid gap-2 add-btn">
    <a class="btn btn-success" href="{% url 'add_task_form' %}" role="button">Создать задачу</a>
</div>
{% endif %}
<div class="row p-2">
    {% for task in tasks %}
    <div class="col-sm-4 ">
        <div class="card mb-3 shadow-sm hover-shadow">
            <div class="card-header bg-transparent">{{task.user_name}}</div>
            <div class="card-body">
                <h6 class="card-title">
                    <a href="{% url 'task_detail' task.id %}"
                        class=" link-dark link-underline link-underline-opacity-0 link-underline-opacity-100-hover">{{task.title}}</a>
                </h6>
            </div>
            {% if task.get_str_with_all_tags %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Теги: {{ task.get_str_with_all_tags }}</li>
            </ul>
            {% endif %}
            <div class="card-footer bg-transparent">
                <span>Срок до: {{task.end_date}}</span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}