{% extends "tasker_app/base.html" %}


{% block content %}
<div class="card msolocard">
    <div class="card-header">
        {{ task.title }}
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ task.user_name }}</li>
        <li class="list-group-item">{{ task.get_task_type_display }} | {{ task.get_status_display }} </li>
        <li class="list-group-item">{{ task.body|linebreaks }}</li>
        {% if task.get_str_with_all_tags %}
        <li class="list-group-item">Теги: {{ task.get_str_with_all_tags }}</li>
        {% endif %}
        <li class="list-group-item">{{ task.end_date }}</li>
    </ul>
    <a class="btn btn-warning btn-sm" href="{% url 'task_edit' task.id %}" role="button">Изменить</a>
    {% if user.is_staff %}
    <form method="post" action="{% url 'task_delete' task.id %}" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-sm w-100" onclick="return confirm('Удалить задачу?')"
            style="font-size: 14px; padding: 0.25rem 0.5rem;">
            Удалить
        </button>
    </form>
    {% endif %}
</div>

{% endblock %}